@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

/* Body */
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(132, 206, 235);
  background: linear-gradient(
    90deg,
    rgba(132, 206, 235, 1) 0%,
    rgba(191, 133, 226, 0.676908263305322) 100%,
    rgba(193, 200, 228, 1) 100%
  );
}
.landing-page {
  background: linear-gradient(
      90deg,
      rgba(132, 206, 235, 0.65) 0%,
      rgba(191, 133, 226, 0.676908263305322) 100%,
      rgba(193, 200, 228, 1) 100%
    ),
    url("../images/landingpage.jpg") no-repeat center fixed;
  background-size: cover;
}

/* End of Body Styling */

/* Header section with responsive navigation bar*/
#header {
  margin: 0 !important;
  padding: 0 !important;
  position: fixed !important;
  z-index: 1000 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100vw !important;
  height: auto !important;
}
#header .header {
  margin: 0 !important;
  width: 100vw !important;
  height: 8vh !important;
  background-color: rgba(31, 30, 30, 0.24);
}
#header .navbar {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  height: 100%;
  max-width: 1300px !important;
  padding: 0 10px !important;
}
#header .navlist ul {
  list-style: none;
  width: 100vw !important;
  height: 100vh;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .navlist ul.active {
  left: 0;
}
#header .navlist ul a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  padding: 20px;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
  display: block;
}
#header .navlist ul a:hover {
  color: #84ceeb;
  transition: 0.3s ease;
}

#header .hamburger {
  z-index: 100;
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 25px;
}
#header .hamburger::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_pulse 1s ease infinite;
}
#header .hamburger .bar {
  width: 30px;
  height: 2px;
  position: relative;
  z-index: -1;
  background-color: white;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  left: 0;
  position: absolute;
  height: 100%;
  width: 100% !important;
  transition: 0.3s ease;
  transition-property: top bottom;
  background-color: white;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
/* End of header section */

/* For landing page */

.welcome {
  display: flex;
  justify-content: right;
  flex-direction: column;
  font-size: 1.2rem;
  position: absolute;
  height: 70vh;
  left: 50%;
  top: 50%;
  transform: translate(-10%, -50%);
  padding: 10px;
}
.intro {
  text-align: center;
  font-family: "Syne Mono", monospace !important;
}
.typing {
  margin-left: 10px;
  text-align: center;
  position: relative;
  font-family: "Syne Mono", monospace !important;
}
.typing::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 5%;
  border-top: 45px solid black;
  right: initial;
  animation: blink 0.6s infinite ease;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* For contact page */
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #18d26e;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: #18d26e;
}

.contact .php-email-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
  align-items: center;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: rgb(0, 0, 0);
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .php-email-form input::-webkit-input-placeholder,
.contact .php-email-form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input:-ms-input-placeholder,
.contact .php-email-form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::-ms-input-placeholder,
.contact .php-email-form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #18d26e;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #15bb62;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 185px; /* Footer height */
}

/* End of contact form */

/* footer for all pages*/
#footer {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
#footer .footer {
  flex-direction: column;
  min-height: 120px;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer .social-icons {
  display: flex;
  margin-bottom: 30px;
}
#footer .socials {
  margin: auto;
  filter: grayscale(1);
}
#footer .socials:hover {
  filter: grayscale(0);
}
#footer .copyright {
  text-align: center;
  color: white;
}
/* end of footer for all pages */

/* RESOURCE PAGES */
#igheader {
  text-align: center;
  margin-top: 100px;
  padding-top: 3vh;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: "Chilanka", cursive;
}
#header {
  font-size: 0.5rem;
}
#resources .flex {
  max-width: 1920px;
  display: flex;
}

#resources .items {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#resources .item {
  box-shadow: 0px 0px 8px 0 rgba(191, 133, 226, 0.676908263305322);
  padding: 30px;
  flex-direction: column;
  display: flex;
  margin: 8px;
  border-radius: 10px;
  background: rgb(132, 206, 235);
  background: linear-gradient(
    90deg,
    rgba(132, 206, 235, 1) 0%,
    rgba(191, 133, 226, 0.676908263305322) 100%,
    rgba(193, 200, 228, 1) 100%
  );
  width: 350px;
  height: 250px;
  overflow-y: scroll;
}
#resources .item:hover {
  box-shadow: 6px 10px rgba(191, 133, 226, 0.676908263305322);
  transition: 0.5s ease;
}
.heading {
  text-align: center;
}
.resource-links {
  text-decoration: none;
  color: azure;
  font-size: 25px;
  margin-bottom: 10px;
  width: fit-content;
}
.resource-links:hover {
  margin-left: 15px;
  transition: 0.5s ease;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
/* End of RESOURCE PAGES */

.form-container {
  border-style: none;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0%);
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  background: transparent;
  box-shadow: 0px 4px 8px 8px rgba(0, 0, 0, 0.47);
  border-radius: 13px;
  width: 50%;
  margin-bottom: 1.7rem;
  margin-top: 1.7rem;
}
.contact-form {
  position: relative;
}

.formz,
.submit {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.section-title {
  font-family: "Chilanka", cursive;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

/* Responsivenes: for screens with a minimum screen width of 1200px, like laptops and 600px like tablets and phones*/
@media only screen and (min-width: 600px) {
  .welcome {
    height: 50vh;
  }
  #resources .item {
    width: 800px;
  }
}
@media screen and (max-width: 600px) {
  .welcome {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
  }
}

@media only screen and (min-width: 1200px) {
  /* Header with navigation */
  #header .hamburger {
    display: none;
  }
  #header .navlist ul {
    position: initial;
    background-color: transparent;
    display: block;
    width: fit-content !important;
    height: auto;
  }
  #header .navlist ul li {
    display: inline-block;
  }
  #header .navlist ul li a {
    letter-spacing: initial;
    font-size: 1.5rem;
  }
  /* end of header with navigation */

  /* Landing page */
  .welcome {
    height: 50vh;
  }

  /* for contact page*/
  #contact .contact-items {
    display: flex;
  }
  /* end of contact page */

  /* start of footer */
  #footer .footer {
    min-height: 60px;
  }
  /* end of footer */

  /* Resource pages*/
  #resources .items {
    display: flex;
    width: 100%;
  }
  #resources .item {
    width: 350px;
  }
  /* End of resource pages */
}
/* Keyframes for responsive navbar: hamburger */
@keyframes hamburger_pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
/* end of keyframes */
